venv
local_settings.py
db.sqlite3
.vscode
__pycache__
*.pyc
.DS_Store
.env
/.idea/.gitignore
/.idea/blog-backend-django.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
